.warning {
    border: solid red 1px;
    border-radius: 0.2em;
  }
  
  .danger {    
    font-size: 10px;
    color: red;
    display: block;
    margin-block-start: initial;
    margin-block-end: initial;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }